:root {
  --background-color: #fafafa;
  --text-color: #444444;
  --link-color: #458dce;
  --code-color: #444444;
  --code-background-color: #f0f0f0;
  --quote-border-color: #0a5aa3;
  --menu-background-color: #f1f1f1;
  --metadata-color: #888888;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-size: 18px;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Fira Sans, sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 1.05;
}

h2 {
  font-size: 36px;
  margin-top: 48px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  line-height: 2;
  margin-bottom: 32px;
}

ul {
  margin-bottom: 32px;
}

li {
  line-height: 32px;
  margin-bottom: 8px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  color: var(--code-color);
  background-color: var(--code-background-color);
  border-radius: 2px;
}

a code {
  color: var(--link-color);
}

/* TODO: Review how to force colors for syntax highlight */
pre code {
  background-color: transparent;
  color: #c5c8c6;
  overflow-x: auto;
  padding: 1em;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 20px 0px;
  display: block;
  background-color: #1d1f21;
}

@media only screen and (min-width: 812px) {
  pre code {
    width: 110%;
    margin-left: -5%;
  }
}

blockquote {
  border-left: 3px solid var(--quote-border-color);
  padding-left: 16px;
  font-style: italic;
}

blockquote > p {
  line-height: 1.75;
}

header {
  display: flex;
  padding: 12px;
  justify-content: flex-start;
}

header a {
  color: var(--text-color);
}

@media only screen and (min-width: 768px) {
  header {
    justify-content: flex-end;
    padding: 24px 48px;
    font-size: 20px;
  }

  header a {
    margin: 0 12px;
  }
}
