.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  max-width: 100vw;
  padding-top: 2em;
  padding-left: .5em;
  padding-right: .5em;

  display: flex;
  flex-direction: column;
  align-items: center;
}
