.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  width: 60ch;
  max-width: 100vw;
  padding-top: 2em;
  padding-left: .5em;
  padding-right: .5em;
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

p img {
  max-width: 100%;
}
